.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerMod {
  background-color: white;
  max-width: max-content;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 8px;
  position: relative;
}

.closeButton {
  position: absolute;
  top: -10px;
  right: 0;
  transform: translateY(-100%);
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease all;
  z-index: -1;
}

.closeButton:hover {
  background-color: #e32525;
  color: white;
}

.addButton:hover {
  background-color: #0dbb30;
}

.modalBtns {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}

.modalInput {
  padding: 0.7rem;
}

.modalTitle {
  text-align: center;
  margin-bottom: 0.5rem;
}

.portfolioInf {
  display: flex;
}
