header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}

.portfolio {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.portfolio_img {
  cursor: pointer;
  width: 45px;
  height: 45px;
}

.portfolio_img:hover {
  background-color: gray;
}
